apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx
        ports:
        - containerPort: 80
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/
        - name: nginx-html
          mountPath: /usr/share/nginx/html
        - name: nginx-logs
          mountPath: /var/log/nginx
      - name: fluentd
        image: fluent/fluentd:latest
        #command:
        #- /bin/sh
        #- -c
        #- |
        #  apk add --no-cache build-base ruby-dev &&
        #  gem install bundler -v 2.3.26 &&
        #  fluent-gem install fluent-plugin-prometheus
        volumeMounts:
        - name: nginx-logs
          mountPath: /var/log/nginx
        - name: fluentd-config
          mountPath: /fluentd/etc
        env:
        - name: FLUENT_PROMETHEUS_HOST
          value: "http://139.59.6.59"
        - name: FLUENT_PROMETHEUS_PORT
          value: "30000"
      volumes:
      - name: nginx-config
        configMap:
          name: nginx-config
      - name: nginx-html
        configMap:
          name: nginx-config
          items:
          - key: index.html
            path: index.html
      - name: fluentd-config
        configMap:
          name: fluentd-config
      - name: nginx-logs
        emptyDir: {}

