apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: nginx
data:
  nginx.conf: |
    events {
      worker_connections  1024;
    }
    http {
        log_format custom_format '$remote_addr --- $remote_user [$time_local] '
        '"$request" $status $body_bytes_sent '
        '"$http_referer" "$http_user_agent" '
        '$upstream_response_time';
        server {
            access_log /var/log/nginx/access.log custom_format;
            listen 80;
            server_name localhost;
            location / {
                root /usr/share/nginx/html;
                index index.html;
            }
        }
    }

  index.html: |
    <html>
    <head>
      <title>My Nginx Page</title>
    </head>
    <body>
      <h1>Welcome to my Nginx page!</h1>
    </body>
    </html>

